<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gym_IS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="MuscleFlexDBEntities" connectionString="metadata=res://*/Reports.Model1.csdl|res://*/Reports.Model1.ssdl|res://*/Reports.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MuscleFlexDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Gym_IS.My.MySettings.MuscleFlexDBConnectionString" connectionString="Data Source=.;Initial Catalog=MuscleFlexDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Gym_IS.My.MySettings>
      <setting name="playTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="isLoopPlay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="hasSentExpired" serializeAs="String">
        <value>False</value>
      </setting>
    </Gym_IS.My.MySettings>
  </userSettings>
</configuration>